.map-main-container {
  .map-main-input {
    position: relative;
    transition: .2s ease-in-out;

    .form-control{
     padding-right: 35px!important;
    }

    &:hover {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06),
      0px 0px 80px rgba(0, 0, 0, 0.12);
      transition: .2s ease-in-out;
    }

    .map-marker {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
      cursor: pointer;
    }
  }
}
